
<mat-dialog-content>
  <b>Congratulations!</b> 
<br />
<br />
 This product or products is eligible for additional limited warranty coverage as noted on the product<br /> 
 limited warranty certificate.  To receive this added benefit, a state licensed HVAC contractor must <br />
 provide preventative maintenance on an annual basis and other terms stated on the limited warranty<br /> 
 certificate must be followed.
  <br />
  <br />
The original homeowner will:<br />
(1) Identify a licensed contractor that the owner plans to have perform annual maintenance on the unit;
<br />
(2) Have the unit installed with a new indoor coil or air handler to which it is properly matched by the 
<br />
installer;
<br />
(3) Have the unit maintained annually by a licensed contractor; and
<br />
(4) Keep written records of that annual maintenance. 
<br />
<br />
The required preventative maintenance can be found on the Daikin website at <br />
daikincomfort.com/preventative_maintenance.  This preventative maintenance will align with generally <br />
accepted industry standards, such as those defined by ACCA.  Specifically, the preventative maintenance <br />
will include:
<br />
<br />              
 - Check system functions, safety controls and adjust the operating sequence where appropriate
 <br />
 - Inspect electrical components and connections and repair/replace or tighten as required<br />
 - Inspect pumps, lubricate and check flow rates where appropriate<br />
 - Clean and lubricate motors as required<br />
 - Examine belts, adjust and align as required<br />
 - Inspect, clean and balance blowers as required.<br />
<br />
<br />
Please affirm the above statement:<br />
<br />
 
 </mat-dialog-content>
 <mat-dialog-actions style="text-align: center">
   <button  matInput mat-raised-button class="btn-black" [mat-dialog-close]="true" (click)="affirm()">Affirm</button>
   <button matInput mat-raised-button  mat-dialog-close (click)="decline()">Not Affirmed</button>
 </mat-dialog-actions>

