.customerinfo-label {
    font-size: 15px;
    color: #8f8888;
}
mat-card.product-details.mat-card {
    border: 0.5px solid lightgray !important;
    padding: margin !important;
    padding: 5px !important;
    margin: 10px 0px 0px 0px !important;
}