<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center"  >
        <!-- //fxLayoutGap="10%" fxLayoutAlign="center" fxLayoutWrap="wrap" -->
      <section>
        <div class="header">
            <div class="header-title">
                <h2 fxHide.lt-md="true">Please register your product</h2>
                <h4 fxHide.gt-sm="true">Please register your product</h4>
              </div>
        </div>
      <div class="header-content">
          <div fxHide.lt-md="true" class="header-message">
            Though not required to get the protection of the standard warranty, 
            registering your product within 60 days of installation entitles you to additional warranty coverage, 
            except that failure by California and Quebec residents to complete this registration form does not diminish their warranty 
            rights. To expedite the process, we ask that you have the following:
          <ul>
            <li>The serial numbers of the equipment you purchased.</li>
            <li>The general information, including name, address and phone number.</li>
            <li>The name and phone number of the dealer who installed your equipment.</li>
          </ul>
        </div>
      </div>
    
        <div fxHide.gt-sm="true" class="header-message-mobile">
          Though not required to get the protection of the standard warranty, 
          registering your product within 60 days of installation entitles you to additional warranty coverage, 
          except that failure by California and Quebec residents to complete this registration form does not diminish their warranty 
          rights. To expedite the process, we ask that you have the following:
            <ul>
              <li>The serial numbers of the equipment you purchased.</li>
              <li>The general information, including name, address and phone number.</li>
              <li>The name and phone number of the dealer who installed your equipment.</li>
            </ul>
          </div>
          
        
      <div style="text-align:center">
          <!-- <mat-icon   class="size-16">arrow_drop_down_circle</mat-icon> -->
          <img width="45px" src="./assets/images/icon.png">
      </div>
      
      <div class="mobileview" fxHide.gt-sm="true">
          <!-- <reg-mobile-layout></reg-mobile-layout> -->
          <!-- <reg-web-layout></reg-web-layout> -->
      </div>
      <div class="webview" fxHide.lt-md="true">
          <reg-web-layout></reg-web-layout>
      </div>
      </section>
    </div>
      <div class="logo">
          <img src="./assets/images/logo_edited.gif">
      </div>
  </div>
